# SQL

## Shema

Poveži se na `jobs.db` databazo.

Prikaži shemo `recent_grads` tabele.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sqlite3
CREATE TABLE IF NOT EXISTS "recent_grads" (
"index" INTEGER,
  "Rank" INTEGER,
  "Major_code" INTEGER,
  "Major" TEXT,
  "Major_category" TEXT,
  "Total" INTEGER,
  "Sample_size" INTEGER,
  "Men" INTEGER,
  "Women" INTEGER,
  "ShareWomen" REAL,
  "Employed" INTEGER,
  "Full_time" INTEGER,
  "Part_time" INTEGER,
  "Full_time_year_round" INTEGER,
  "Unemployed" INTEGER,
  "Unemployment_rate" REAL,
  "Median" INTEGER,
  "P25th" INTEGER,
  "P75th" INTEGER,
  "College_jobs" INTEGER,
  "Non_college_jobs" INTEGER,
  "Low_wage_jobs" INTEGER
);
CREATE INDEX "ix_recent_grads_index"ON "recent_grads" ("index");
```

In [3]:
import sqlite3
conn = sqlite3.connect('data/jobs.db')
cursor = conn.cursor()
cols_info = cursor.execute("PRAGMA table_info('recent_grads')").fetchall()
cols_info

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Rank', 'INTEGER', 0, None, 0),
 (2, 'Major_code', 'INTEGER', 0, None, 0),
 (3, 'Major', 'TEXT', 0, None, 0),
 (4, 'Major_category', 'TEXT', 0, None, 0),
 (5, 'Total', 'INTEGER', 0, None, 0),
 (6, 'Sample_size', 'INTEGER', 0, None, 0),
 (7, 'Men', 'INTEGER', 0, None, 0),
 (8, 'Women', 'INTEGER', 0, None, 0),
 (9, 'ShareWomen', 'REAL', 0, None, 0),
 (10, 'Employed', 'INTEGER', 0, None, 0),
 (11, 'Full_time', 'INTEGER', 0, None, 0),
 (12, 'Part_time', 'INTEGER', 0, None, 0),
 (13, 'Full_time_year_round', 'INTEGER', 0, None, 0),
 (14, 'Unemployed', 'INTEGER', 0, None, 0),
 (15, 'Unemployment_rate', 'REAL', 0, None, 0),
 (16, 'Median', 'INTEGER', 0, None, 0),
 (17, 'P25th', 'INTEGER', 0, None, 0),
 (18, 'P75th', 'INTEGER', 0, None, 0),
 (19, 'College_jobs', 'INTEGER', 0, None, 0),
 (20, 'Non_college_jobs', 'INTEGER', 0, None, 0),
 (21, 'Low_wage_jobs', 'INTEGER', 0, None, 0)]

In [4]:
#prilagojen rezultat, ki izpiše kot v podani rešitvi
for i in cols_info:
    print(i[1], i[2])

index INTEGER
Rank INTEGER
Major_code INTEGER
Major TEXT
Major_category TEXT
Total INTEGER
Sample_size INTEGER
Men INTEGER
Women INTEGER
ShareWomen REAL
Employed INTEGER
Full_time INTEGER
Part_time INTEGER
Full_time_year_round INTEGER
Unemployed INTEGER
Unemployment_rate REAL
Median INTEGER
P25th INTEGER
P75th INTEGER
College_jobs INTEGER
Non_college_jobs INTEGER
Low_wage_jobs INTEGER

## SELECT and LIMIT

Prikaži prvih 12 vrstic stolpcev `Rank` in `Major`, v tem vrstnem redu, tabele `recent_grads`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
1|PETROLEUM ENGINEERING
2|MINING AND MINERAL ENGINEERING
3|METALLURGICAL ENGINEERING
4|NAVAL ARCHITECTURE AND MARINE ENGINEERING
5|CHEMICAL ENGINEERING
6|NUCLEAR ENGINEERING
7|ACTUARIAL SCIENCE
8|ASTRONOMY AND ASTROPHYSICS
9|MECHANICAL ENGINEERING
10|ELECTRICAL ENGINEERING
11|COMPUTER ENGINEERING
12|AEROSPACE ENGINEERING
```

In [10]:
conn = sqlite3.connect('data/jobs.db')
cursor = conn.cursor()
query = "SELECT Rank, Major FROM recent_grads"
rows = conn.execute(query).fetchmany(12)

for i in rows:
    print(i[0],"|",i[1])

1 | PETROLEUM ENGINEERING
2 | MINING AND MINERAL ENGINEERING
3 | METALLURGICAL ENGINEERING
4 | NAVAL ARCHITECTURE AND MARINE ENGINEERING
5 | CHEMICAL ENGINEERING
6 | NUCLEAR ENGINEERING
7 | ACTUARIAL SCIENCE
8 | ASTRONOMY AND ASTROPHYSICS
9 | MECHANICAL ENGINEERING
10 | ELECTRICAL ENGINEERING
11 | COMPUTER ENGINEERING
12 | AEROSPACE ENGINEERING

## WHERE

Prikaži stolpca `Major`, `Unemployment_rate` in `Total`, kjer je `Unemployment_rate` večji od 10% in stolpec `Total` (celotno število diplomantov) manjši od 1000.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
MINING AND MINERAL ENGINEERING|0.117241379|756
SCHOOL STUDENT COUNSELING|0.107579462|818
```

In [13]:
conn = sqlite3.connect('data/jobs.db')
cursor = conn.cursor()
query_2 = "SELECT Major, Unemployment_rate, Total FROM recent_grads WHERE Unemployment_rate > 0.1 AND Total < 1000"
rows_2= conn.execute(query2).fetchmany(12)
for i in rows_2:
    print(i[0],"|",i[1],"|",i[2])

MINING AND MINERAL ENGINEERING | 0.117241379 | 756
SCHOOL STUDENT COUNSELING | 0.10757946199999999 | 818

## ORDER BY

Prikažite prvih 5 stolpecv `Major`, `Mediana`. Vrstni red naj bo naraščajoč glede na stolpec `Mediana`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
LIBRARY SCIENCE|22000
COUNSELING PSYCHOLOGY|23400
EDUCATIONAL PSYCHOLOGY|25000
CLINICAL PSYCHOLOGY|25000
ZOOLOGY|26000
```

In [16]:
conn = sqlite3.connect('data/jobs.db')
cursor = conn.cursor()
query_3 = "SELECT Major, Median FROM recent_grads ORDER BY Median asc"
rows_3 = conn.execute(query_3).fetchmany(5)
for i in rows_3:
    print(i[0],"|",i[1])

LIBRARY SCIENCE | 22000
COUNSELING PSYCHOLOGY | 23400
EDUCATIONAL PSYCHOLOGY | 25000
CLINICAL PSYCHOLOGY | 25000
ZOOLOGY | 26000

# Python SQLite3

In [18]:
import sqlite3

Povežite se na `job.db` databazo.

Prikažite vrstice od 10 do 15, za stolpce `Rank`, `Major`, `Total`.

In [20]:
# Rešitev
conn = sqlite3.connect('data/jobs.db')
cursor = conn.cursor()
query_4 = "SELECT Rank, Major, Total FROM recent_grads LIMIT 6 OFFSET 9"
rows_4 = conn.execute(query_4).fetchall()
for i in rows_4:
    print(i[0],"|",i[1],"|",i[2])

10 | ELECTRICAL ENGINEERING | 81527
11 | COMPUTER ENGINEERING | 41542
12 | AEROSPACE ENGINEERING | 15058
13 | BIOMEDICAL ENGINEERING | 14955
14 | MATERIALS SCIENCE | 4279
15 | ENGINEERING MECHANICS PHYSICS AND SCIENCE | 4321

# SQLAlchemy and Pandas

In [17]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

import pandas as pd

import numpy as np

Povežite se na `logs.db` databazo.

Preberite celotno `weblog` tabelo v DataFrame in prikažite prvih 5 vrstic.
(stolpec `id` naj bo index DataFrama)

In [21]:
# Rešitev
eng = create_engine('sqlite:///data/logs.db')
weblogs = pd.read_sql_table('weblog', eng, index_col='id')
weblogs.head()

            ip           timestamp  status method
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET
2   10.128.2.1 2017-11-29 06:59:02     302   POST
3   10.128.2.1 2017-11-29 06:59:03     200    GET
4   10.131.2.1 2017-11-29 06:59:04     200    GET
5   10.130.2.1 2017-11-29 06:59:06     200    GET

Najdite najpogostejši `ip`.
DataFramu dodajte stolpec `Ban`. Če vrstica vsebuje najpogostejši ip naj bo v `Ban` stolpcu vrednost `True`, drugače naj bo vrenost `False`.

In [22]:
# Rešitev
IP = weblogs['ip'].value_counts().index[0]#naj IP
weblogs['Ban'] = weblogs['ip']==IP
weblogs.head()

            ip           timestamp  status method    Ban
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET  False
2   10.128.2.1 2017-11-29 06:59:02     302   POST  False
3   10.128.2.1 2017-11-29 06:59:03     200    GET  False
4   10.131.2.1 2017-11-29 06:59:04     200    GET   True
5   10.130.2.1 2017-11-29 06:59:06     200    GET  False

DataFrame zapišite v `logs.db` databazo, v `ban_log` tabelo. Če tabela še ne obstaja jo ustvarite.

Glede databaznih stolpcev in njihovih data-tipov si pomagajte s spodnjim `dtype_dict`.

In [23]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'Ban': Boolean()
}

In [24]:
# Rešitev
weblogs.to_sql(name='ban_log',con=eng,index=False,if_exists='replace',dtype=dtype_dict)
#z funkcijo to_sql zapišemo v bazo logs.db v tabelo ban_log dataframe weblog.

In [25]:
weblogs=pd.read_sql_table('ban_log',eng)
weblogs.head()
#za razliko od prvotnega vsebuje dodan stolpec "Ban"

           ip           timestamp  status method    Ban
0  10.128.2.1 2017-11-29 06:58:55     200    GET  False
1  10.128.2.1 2017-11-29 06:59:02     302   POST  False
2  10.128.2.1 2017-11-29 06:59:03     200    GET  False
3  10.131.2.1 2017-11-29 06:59:04     200    GET   True
4  10.130.2.1 2017-11-29 06:59:06     200    GET  False